HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
# Android Studio
.gradle
build/
.navigation
captures/
output.json
/app/src/test/
/app/src/androidTest/
/app/build
